<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>HomeCare</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" href="../static/css/bootstrap.min.css"
   <!-- style css -->
   <link rel="stylesheet" href="../static/css/home.css">
   <!-- Responsive-->
   <link rel="stylesheet" href="../static/css/responsive.css">
   <!-- fevicon -->
   <link rel="icon" href="images/fevicon.png" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="../static/css/jquery.mCustomScrollbar.min.css">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <!-- owl stylesheets -->
   <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <!-- <script src="https://kit.fontawesome.com/a59b9b09ab.js" crossorigin="anonymous"></script> -->
</head>

<body>
   <!-- header section start -->
   <div class="header_section">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <div class="logo" ><a href="https://www.bmu.edu.in/"><img src="/static/Images/logo.png" height="50px" width="50px"></a></div>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                  <a class="nav-link" href="home.html">Home</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="health.html">Dashboard</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="medicine.html">Health Camps</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="news.html">Advisory</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="client.html">Request</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="contact.html">Login</a>
               </li>
               <!-- <li class="nav-item">
                  <a class="nav-link" href="contact.html">Doctor</a>
               </li> -->
            </ul>
         </div>
      </nav>
      <!-- header section end -->
      <!-- banner section start -->
      <div id="main_slider" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="banner_section">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-6">
                           <h1 class="banner_taital">Health <br><span style="color: #151515;">Care</span></h1>
                           <p class="banner_text">There are many variations of passages of Lorem Ipsum</p>
                           <div class="btn_main">
                              <div class="more_bt"><a href="#">Contact Now</a></div>
                              <div class="contact_bt"><a href="#">Get A Quote</a></div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="image_1"><img src="../static/Images/img-1.png"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="banner_section">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-6">
                           <h1 class="banner_taital">Health <br><span style="color: #151515;">Care</span></h1>
                           <p class="banner_text">There are many variations of passages of Lorem Ipsum</p>
                           <div class="btn_main">
                              <div class="more_bt"><a href="#">Contact Now</a></div>
                              <div class="contact_bt"><a href="#">Get A Quote</a></div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="image_1"><img src="../static/Images/img-1.png"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="banner_section">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-6">
                           <h1 class="banner_taital">Health <br><span style="color: #151515;">Care</span></h1>
                           <p class="banner_text">There are many variations of passages of Lorem Ipsum</p>
                           <div class="btn_main">
                              <div class="more_bt"><a href="#">Contact Now</a></div>
                              <div class="contact_bt"><a href="#">Get A Quote</a></div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="image_1"><img src="../static/Images/img-1.png"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class="fa fa-long-arrow-left" style="font-size:24px; padding-top: 4px;"></i>
         </a>
         <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class="fa fa-long-arrow-right" style="font-size:24px; padding-top: 4px;"></i>
         </a>
      </div>


   </div>
   <!-- banner section end -->
   <!-- Features section start -->

   <div class="health_section" style="padding-top: 80px; margin-bottom: -100px;">
      <div class="container">
         <h1 class="health_taital">Facilities Provided</h1>
         <p class="health_text">We at BMU provide the following facilities in collaboration with MAX Healthcare</p>
      </div>
   </div>
   
   <div class="horizontal-scroll-main">
      <div class="main-scroll-div">
         <div>
            <button class="iconScroll" onclick="scrollr()"><i class="fa fa-angle-double-left"></i></button>
         </div>
         <div class="cover">
            <div class="scroll-images">
               <div class="child"><div class="child-image1"><p>24 Hour Doctor Support!</p></div></div>
               <div class="child"><div class="child-image2"><p>24 Hour Ambulance Service!</p></div></div>
               <div class="child"><div class="child-image3"><p>On Request Medicines!</p></div></div>
               <div class="child"><div class="child-image4"><p>On Request Lab Tests!</p></div></div>
            </div>
         </div>
         <button class="iconScroll" onclick="scrolll()"><i class="fa fa-angle-double-right"></i></button>
      </div>
   </div>

   <!-- Features section end -->
   <!-- Health Camps section start -->

   <div class="contact_section layout_padding">
      <div class="container">
         <h1 class="contact_taital">Upcoming Health Camps</h1>
         <div class="news_section_2">
            <div class="row">
               <div class="col-md-6">
                  <div class="icon_main">
                     <div class="icon_7"><img src="../static/Images/icon-7.png"></div>
                     <h4 class="diabetes_text">Dr. Divi Rastogi </h4>
                  </div>
                  <div class="icon_main">
                     <div class="icon_7"><img src="../static/Images/icon-5.png"></div>
                     <h4 class="diabetes_text">ENT Specialist: MAX Hospital</h4>
                  </div>
                  <div class="icon_main">
                     <div class="icon_7"><img src="../static/Images/icon-6.png"></div>
                     <h4 class="diabetes_text">May 3, 2023. 2:00 PM - 4:00 PM</h4>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="contact_box">
                     <h1 class="book_text">Book Appoinment</h1>
                     <input type="text" class="Email_text" placeholder="Name" name="Name">
                     <input type="text" class="Email_text" placeholder="Enrollment No." name="Enrollment No.">
                     <textarea class="massage-bt" placeholder="Reason for consultation" rows="3" id="comment" name="Message" ></textarea>
                     <div class="send_bt"><a href="#">SEND</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- health camps section end -->
   <!-- advisory section start -->

   <div class="client_section layout_padding">
      <div id="my_slider" class="carousel slide" data-ride="carousel">
         <h1 class="client_taital">Health Advisory</h1>
         <p class="client_text">The recent health advisories issued by the doctor are:</p>
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="container">
                  <div class="client_section_2">
                     <div class="client_left">
                        <div><img src="../static/Images/viral.jpg" class="client_img"></div>
                     </div>
                     <div class="client_right">
                        <h3 class="distracted_text">Viral  Infections</h3>
                        <p class="lorem_text">The number of patients visiting the Medical Centre has increased over the past 5 days, most of them having cough & cold with light fever. It is important that everyone understands the symptoms and takes all precautions.</p>
                        <div class="getquote_bt_1"><a href="#">Read More <span><img src="../static/Images/right-arrow.png"></span></a></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="container">
                  <div class="client_section_2">
                     <div class="client_left">
                        <div><img src="../static/Images/covid.jpg" class="client_img"></div>
                     </div>
                     <div class="client_right">
                        <h3 class="distracted_text">Covid-19</h3>
                        <p class="lorem_text">The number of covid-19 cases in the Delhi-NCR region is rapidly increasing. A health advisory regarding the increased number of covid-19 cases in order to stay protected.</p>
                        <div class="getquote_bt_1"><a href="#">Read More <span><img src="../static/Images/right-arrow.png"></span></a></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="container">
                  <div class="client_section_2">
                     <div class="client_left">
                        <div><img src="../static/Images/malaria.jpg" class="client_img"></div>
                     </div>
                     <div class="client_right">
                        <h3 class="distracted_text">Dengue</h3>
                        <p class="lorem_text">Dengue fever is spreading in the NCR and it is important to guard against the same. Dengue fever is an infectious disease transmitted by a female mosquito. It is a flu like illness caused by the dengue virus.</p>
                        <div class="getquote_bt_1"><a href="#">Read More <span><img src="../static/Images/right-arrow.png"></span></a></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="container">
                  <div class="client_section_2">
                     <div class="client_left">
                        <div><img src="../static/Images/injury.jpg" class="client_img"></div>
                     </div>
                     <div class="client_right">
                        <h3 class="distracted_text">Body  Injuries</h3>
                        <p class="lorem_text">There has been an increase in the number of students visiting the medical center due to body injuries. Sometimes there are muscle and ligament tears needing more care than the fractures. We always need to consult a doctor.</p>
                        <div class="getquote_bt_1"><a href="#">Read More <span><img src="../static/Images/right-arrow.png"></span></a></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="container">
                  <div class="client_section_2">
                     <div class="client_left">
                        <div><img src="../static/Images/sore throat.jpg" class="client_img"></div>
                     </div>
                     <div class="client_right">
                        <h3 class="distracted_text">Sore  Throat</h3>
                        <p class="lorem_text">There is an increased number of patients coming in with sore throats. PHARYNX is the rear end of the tube that carries food to the oesophagus and air to windpipe. Sore throat is inflammation of the membrane of the pharynx. </p>
                        <div class="getquote_bt_1"><a href="#">Read More <span><img src="../static/Images/right-arrow.png"></span></a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
            <i class="fa fa-long-arrow-left" style="font-size:24px; padding-top: 4px;"></i>
         </a>
         <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
            <i class="fa fa-long-arrow-right" style="font-size:24px; padding-top: 4px;"></i>
         </a>
      </div>
   </div>

   <!-- advisory section end -->
   <!-- footer section start -->

   <div class="footer_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-sm-6">
               <h1 class="adderss_text">Contact Us</h1>
               <div class="footer_logo"><a href="https://www.bmu.edu.in/"><img src="../static/Images/bmulog.png" height="100px" ></a></div>
               <div class="map_icon"><img src="../static/Images/map-icon.png"><span class="paddlin_left_0">BML Munjal University</span></div>
               <div class="map_icon"><img src="../static/Images/call-icon.png"><span class="paddlin_left_0">(+91) 124 2679002</span></div>
               <div class="map_icon"><img src="../static/Images/mail-icon.png"><span class="paddlin_left_0">medical@bmu.edu.in</span></div>
            </div>
            <!-- <div class="col-lg-3 col-sm-6">
               <h1 class="adderss_text">Doctors</h1>
               <div class="hiphop_text_1">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</div>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h1 class="adderss_text">Useful Links</h1>
               <div class="Useful_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered ,</div>
            </div> -->
            <!-- <div class="col-lg-3 col-sm-6">
               <h1 class="adderss_text">Newsletter</h1>
               <input type="text" class="Enter_text" placeholder="Enter your Email" name="Enter your Emil">
               <div class="subscribe_bt"><a href="#">Subscribe</a></div>
               <div class="social_icon">
                  <ul>
                     <li><a href="#"><img src="images/fb-icon.png"></a></li>
                     <li><a href="#"><img src="images/twitter-icon.png"></a></li>
                     <li><a href="#"><img src="images/linkedin-icon.png"></a></li>
                     <li><a href="#"><img src="images/instagram-icon.png"></a></li>
                  </ul>
               </div>
            </div> -->
         </div>
      </div>
   </div>
   <!-- footer section end -->
   <!-- copyright section start -->
   <div class="copyright_section">
      <div class="container">
         <p class="copyright_text">2023 All Rights Reserved. Design by <a href="">HealthEase Corporation</a></p>
      </div>
   </div>
   <!-- copyright section end -->
   <!-- Javascript files-->

   <script src="../static/js/jquery.min.js"></script>
   <script src="../static/js/popper.min.js"></script>
   <script src="../static/js/bootstrap.bundle.min.js"></script>
   <script src="../static/js/jquery-3.0.0.min.js"></script>
   <script src="../static/js/plugin.js"></script>
   <!-- sidebar -->
   <script src="../static/js/jquery.mCustomScrollbar.concat.min.js"></script>
   <script src="../static/js/custom.js"></script>
   <!-- javascript -->
   <script src="../static/js/owl.carousel.js"></script>
   <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>
<script>
   function scrolll(){
      var left=document.querySelector(".scroll-images");
      left.scrollBy(350,0)
   }

   function scrollr(){
      var left=document.querySelector(".scroll-images");
      left.scrollBy(-350,0)
   }
</script>

</html>