<html>
<head>
  <meta charset="utf-8">
  <title>Raise a request</title>
  <link rel="stylesheet" type="text/css" href="../static/css/request.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="../static/js/request.js"></script>
</head>
<body>

<div class="form-style-10">
    <h1>Raise a Request<span></span></h1>
    <form method="post" action="{{url_for('requests')}}" enctype="multipart/form-data">
        <div class="section"><span>1</span>Full Name & Phone Number</div>
        <div class="inner-wrap">
            <label>Full name<input type="text" name="Pname" placeholder="Your name"/></label><br>
            <label>Phone Number <input type="number" name="number" required/></label>
            
        </div>
    
        <div class="section"><span>2</span>Enrollment Number,Gender & Age</div>
        <div class="inner-wrap">
            <label>Enrollment Number<input type="number" name="enroll" required/></label><br>
            <label>Gender</label>
            <div id>
            <input type="radio" id="Male" name="gender" value="Male"checked>
            <label for="Male">Male</label>
            <input type="radio" id="Female" name="gender" value="Female">
            <label for="Female">Female</label>
            <input type="radio" id="Other" name="gender" value="Other">
            <label for="Other">Other</label>
            </div>
            <br>
            <label>Age <input type="number" name="age" /></label>
        </div>
    
        <div class="section"><span>3</span>Requirement</div>
            <div class="inner-wrap">
            <!-- <label>I need <input type="text" name="field6" /></label> -->
            <label> I need </label>
            <select name="requirement" required>
            <option value = "Medicine" name="requirement"> Medicine
            </option>
            <option value = "LabTest" name="requirement"> Lab Test 
            </option>
            </select>
            <br>
            <label>Name of the Medicine/Test<input type="text" name="medname" required/></label>
            <!-- <button class="add_field_button">Add More Fields</button>
            <div class="input_fields_wrap"> -->
            <!-- <div><input type="hidden" name="mytext[]" value="Enter Medicine"></div> -->
            <!-- </div> -->

            <br>
            <label>Why is it needed? State the condition/symptoms<textarea name="symptoms"></textarea></label><br> 
            <label>Upload Prescripton <br><input type="file" name="prescription" /></label><br>

        </div>
        <div class="button-section">
         <input type="submit" name="Sign Up" /> 
         </span>
        </div>
    </form>
    </div>


</body>
</html>